@mixin flex($jc, $ai, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: wrap;
}

@mixin indmage() {
  // width: 50px;
  @include flex(space-between, center, row);
  //icon
  i {
    font-size: 30px;
  }
  //number
  h4 {
  }
}
