@mixin flex($jc, $ai, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: wrap;
}

@mixin indmage() {
  // width: 50px;
  @include flex(space-between, center, row);
  //icon
  i {
    font-size: 30px;
  }
  //number
  h4 {
  }
}
@mixin inputStyles {
  background: rgb(196, 196, 196);

  border: none;
  border-bottom: 4px solid black;
  transition: ease-in-out, border-color 0.5s ease-in-out;
  &:focus {
    outline: none;
    border-color: rgb(26, 185, 238);
    transition: ease-in-out, border-color 0.5s ease-in-out;
  }
}
