.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px; }
  .navBar__companyName h1 {
    color: #222022;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 100px; }
  .navBar__headings {
    padding-right: 30px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 500;
    height: 100%; }
    .navBar__headings__sections h2 {
      font-family: sans-serif;
      letter-spacing: 1px; }
    .navBar__headings .activeNav {
      padding-bottom: 3px;
      color: #222022;
      border-bottom: 3px solid #222022; }
    .navBar__headings .inactiveNav {
      padding-bottom: 6px;
      color: #22202285; }
