@import "../../../Sass/__variables";
@import "../../../Sass/__mixins";
//css

.navBar {
  position: fixed;
  @include flex(space-between, center, row);
  z-index: 20;
  width: 100vw;
  height: 100px;
  &__social-icons {
    width: 100px;
    @include flex(space-between, center, row);
    padding-bottom: 5px;
    i {
      font-size: 20px;
      transition: color 0.5s;
      &:hover {
        color: white;
      }
    }
  }
  &__arrow {
    display: none;
  }
  &__companyName {
    h1 {
      text-shadow: 1px 1px 6px rgba(255, 255, 255, 1);
      color: black;
      letter-spacing: 3px;
      font-size: 25px;
      font-weight: 500;
      font-family: sans-serif;
      padding-left: 100px;
    }
  }
  &__headings {
    padding-right: 30px;
    width: 550px;
    @include flex(space-around, center, row);
    font-size: 17px;
    font-weight: 500;
    height: 100%;
    &__sections {
      h2 {
        font-family: sans-serif;
        letter-spacing: 1px;
        transition: color 0.5s;
        &:hover {
          color: white;
        }
      }
    }
    .activeNav {
      padding-bottom: 3px;
      color: $black;
      border-bottom: 3px solid $black;
      //   border-bottom: 7px;
    }
    .inactiveNav {
      padding-bottom: 6px;
      color: $lightBlack;
    }
  }
}
@media (max-width: "1100px") {
  #company-name {
    width: 100%;
    height: 100%;
    background: #444;
    z-index: 2;
  }
  .navBar {
    // position: fixed;
    @include flex(space-between, center, row);
    // width: 100vw;
    // height: 100px;
    &__social-icons {
      display: none;
      i {
      }
    }
    &__arrow {
      display: inline;
      position: absolute;
      right: 10px;
      &__active {
        animation: rotateNav 0.7s both;
      }
      &__static {
        animation: regularNav 0.7s both;
      }
    }

    &__companyName {
      @include flex(center, center, row);
      width: 100vw;

      h1 {
        padding-left: 0px;
        text-shadow: 1px 1px 2px whitesmoke;
        color: white;
      }
    }
    &__headings {
      position: absolute;
      top: -100px;
      width: 100%;
      &__active {
        animation: sectionsSlideDown 0.7s;
        position: absolute;
        top: 100px;
        width: 100%;
      }
      &__active,
      &__inactive {
        position: absolute;
        width: 100%;
      }
      &__inactive {
        top: -260px;
        animation: sectionsSlideUp 0.7s;
      }
      &__sections {
        height: 90px;
        width: 100%;
        background: #777;
        position: relative;
        &::after {
          content: "";
          border-bottom: 2px solid #222;
          width: 50px;
          display: block;
          position: absolute;
          bottom: 15px;
        }
        @include flex(center, center, row);
        &:hover {
          &::after {
            border-bottom: 2px solid #666;
          }
          h2 {
            color: whitesmoke;
          }
        }
        h2 {
          color: whitesmoke;
        }
      }
      .activeNav {
      }
      .inactiveNav {
      }
    }
    i {
      z-index: 3;
      color: white;
    }
  }
}
@keyframes rotateNav {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}
@keyframes regularNav {
  from {
    transform: rotate(540deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes sectionsSlideDown {
  from {
    top: -260px;
  }
  to {
    top: 100px;
  }
}
@keyframes sectionsSlideUp {
  from {
    top: 100px;
  }
  to {
    top: -260px;
  }
}
