.contact__holder__main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #777; }

.contact {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .contact__subholder {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
  .contact h3 {
    color: white;
    width: 300px;
    background: #444;
    height: 40px;
    border-radius: 15px 15px 100px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 10px;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 20px; }
  .contact__specific {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact__specific__ea {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      width: 210px;
      height: 50px;
      border-bottom: 1px solid black;
      padding-bottom: 10px; }
      .contact__specific__ea h5,
      .contact__specific__ea p {
        font-family: sans-serif; }
      .contact__specific__ea h5 {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        color: white; }
      .contact__specific__ea p {
        letter-spacing: 1px;
        color: white; }
  .contact__contact {
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact__contact h4 {
      color: white;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 1.2px; }
    .contact__contact input,
    .contact__contact textarea {
      padding: 0 10px;
      border: 1px solid black;
      margin: 4px 0 20px 0; }
    .contact__contact textarea {
      resize: none;
      font-size: 15px;
      background: #c4c4c4;
      border: none;
      border-bottom: 4px solid black;
      transition: ease-in-out, border-color 0.5s ease-in-out; }
      .contact__contact textarea:focus {
        outline: none;
        border-color: #1ab9ee;
        transition: ease-in-out, border-color 0.5s ease-in-out; }
    .contact__contact input {
      font-size: 20px;
      width: 280px;
      height: 30px;
      background: #c4c4c4;
      border: none;
      border-bottom: 4px solid black;
      transition: ease-in-out, border-color 0.5s ease-in-out; }
      .contact__contact input:focus {
        outline: none;
        border-color: #1ab9ee;
        transition: ease-in-out, border-color 0.5s ease-in-out; }
    .contact__contact button {
      border-radius: 14px;
      width: 120px;
      height: 40px;
      margin: auto;
      border: 2px solid black;
      background: #999;
      font-size: 16px;
      letter-spacing: 2px;
      color: white;
      box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75); }
      .contact__contact button:active {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        outline: none; }
