.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .contact__why {
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact__why section {
      font-family: sans-serif;
      width: 400px;
      height: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .contact__why section p {
        text-align: center;
        line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        color: #222; }
      .contact__why section h4 {
        font-size: 17px;
        margin-bottom: 20px; }
      .contact__why section h4,
      .contact__why section p {
        color: #1c54b2; }
  .contact__specific {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact__specific div:nth-child(3) {
      padding-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap; }
      .contact__specific div:nth-child(3) i {
        color: #1c54b2;
        font-size: 22px; }
    .contact__specific__ea {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      width: 210px;
      height: 50px;
      border-bottom: 1px solid #1c54b2;
      padding-bottom: 10px; }
      .contact__specific__ea:nth-child(1), .contact__specific__ea:nth-child(2) {
        padding-top: 15px; }
      .contact__specific__ea:nth-child(1) {
        border-top: 1px solid #1c54b2; }
      .contact__specific__ea h5,
      .contact__specific__ea p {
        font-family: sans-serif; }
      .contact__specific__ea h5 {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
        color: #1c54b2; }
      .contact__specific__ea p {
        letter-spacing: 1px;
        color: #1c54b2; }
  .contact__contact {
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact__contact h4 {
      font-weight: 600;
      padding-left: 10px;
      font-family: sans-serif;
      font-size: 13px;
      letter-spacing: 2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 4px 4px 30px 4px;
      width: 310px;
      height: 40px;
      border: 2px solid #1c54b2;
      background: #5392ff96;
      color: #1c54b2; }
    .contact__contact input,
    .contact__contact textarea {
      padding: 0 10px;
      border: 1px solid black;
      margin: 4px 0 20px 0; }
    .contact__contact textarea {
      resize: none;
      font-size: 15px;
      background: whitesmoke;
      border: none;
      border-bottom: 2px solid #1c54b2;
      transition: ease-in-out, border-color 0.5s ease-in-out; }
      .contact__contact textarea:focus {
        outline: none;
        border-color: #00b0ff;
        transition: ease-in-out, border-color 0.5s ease-in-out; }
    .contact__contact input {
      font-size: 20px;
      width: 280px;
      height: 30px;
      background: whitesmoke;
      border: none;
      border-bottom: 2px solid #1c54b2;
      transition: ease-in-out, border-color 0.5s ease-in-out; }
      .contact__contact input:focus {
        outline: none;
        border-color: #00b0ff;
        transition: ease-in-out, border-color 0.5s ease-in-out; }
    .contact__contact button {
      border-radius: 14px;
      width: 120px;
      height: 40px;
      margin: auto;
      border: 2px solid #1c54b2;
      background: #5392ff96;
      font-size: 16px;
      letter-spacing: 2px;
      box-shadow: 6px 6px 34px -4px rgba(0, 0, 0, 0.75); }
      .contact__contact button:active {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        outline: none; }

@media (max-width: 610px) {
  .contact__contact {
    margin-top: 150px; }
  .contact__specific {
    margin-top: 50px; }
    .contact__specific__ea {
      width: 290px; } }
