@import "../../../Sass/__variables";
@import "../../../Sass/__mixins";
.image {
  width: 100%;
  height: 100vh;
  @include flex(center, center, row);

  &__focused {
    @include flex(space-around, center, row);
    width: 900px;
    height: 610px;
    background: #9999;
    position: relative;
    section {
      //this section contains the actual image
      &:nth-child(1) {
        // position: absolute;
        // top: 0;
        // left: 0;
        img {
          width: 600px;
          height: 600px;
        }
      }
      //this section contains the likes,
      //comments, date, caption
      &:nth-child(2) {
        width: 30%;
        min-width: 280px;
        height: 100%;
        @include flex(space-around, center, column);
        //h2 = caption
        h2 {
          line-height: 29px;
          letter-spacing: 1px;
        }
        //div = everything besides the caption
        div {
          section {
            //the instagram comments
            &:nth-child(1) {
              //icon
              i {
              }
              //number
              h4 {
              }
            }
            //the instagram likes
            &:nth-child(2) {
              //icon
              i {
              }
              //number
              h4 {
              }
            }
          }
          //the date
          h4 {
          }
        }
      }
    }
  }
}
